*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5efe6; /* putih */
    color:#2a1a10;
}

/* NAVBAR */
.navbar{
    position:fixed;
    top:0;
    width:100%;
    padding:15px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(20,20,20,0.95); /* hitam */
    backdrop-filter:blur(10px);
    border-bottom:1px solid #6f4e37;
    z-index:100;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:42px;
    background:#ffffff;
    border-radius:50%;
    padding:6px;
    box-shadow:0 0 15px rgba(111,78,55,0.6);
}

.logo span{
    font-family:'Playfair Display',serif;
    font-size:22px;
}

.nav-list{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-item a{
    text-decoration:none;
    color:#f5efe6;
}

.item:hover{
    color: #aaa;
    transition-duration: 100ms;
    cursor: pointer;
}

.nav-order-btn{
    background-color: #6f4e37;
    padding:6px 14px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(178, 176, 176);
}

.nav-order-btn:hover{
    background-color: #2e2e2e;
    cursor: pointer;
    color: white;
    transition-duration: 500ms;
    box-shadow: 1px 1px 3px white;
}

/* HERO */
.hero{
    height:100vh;
    background:
    linear-gradient(rgba(10,10,10,.9),rgba(255, 255, 255, 0.9)),
    url('https://images.unsplash.com/photo-1509042239860-f550ce710b93');
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero-logo{
    width:150px;
    background:#ffffff;
    border-radius:50%;
    padding:12px;
    margin-bottom:25px;
    box-shadow:0 0 40px rgba(111,78,55,.9);
}

.hero h1{
    font-family:'Playfair Display',serif;
    font-size:36px;
}

.hero h2{
    font-family:'Playfair Display',serif;
    font-size:64px;
    letter-spacing:4px;
}

.hero-btn{
    margin-top:30px;
}

.btn, .btn-outline{
    padding:14px 35px;
    text-decoration:none;
    margin:0 10px;
    border-radius: 10px;
}

.btn{
    background:#000000;
    color:#ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.btn-outline{
    border:1px solid #6f4e37;
    /* color:#ffffff; */
    color: black;
    box-shadow: 0 8px 20px rgba(111, 78, 55, 0.4);
}

.btn:hover{
    background-color: rgb(201, 200, 200);
    transition-duration: 500ms;
    color: black;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

.btn-outline:hover{
    background-color: black;
    transition-duration: 500ms;
    box-shadow: 0 0 20px rgba(111, 78, 55, 0.8);
    color: white;
}


/* ABOUT */
.about{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:100px 60px;
    gap:50px;
    align-items:center;
    background:#ffffff; /* putih */
}

.about img{
    width:100%;
    border-radius:20px;
}

/* MENU */
.menu-section{
    padding:100px 60px;
    background:#1a1919; /* hitam */
}

.title{
    text-align:center;
    font-family:'Playfair Display',serif;
    font-size:42px;
    margin-bottom:60px;
    color: #ffffff;
}

.menu{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#ffffff; /* putih */
    border-radius:15px;
    overflow:hidden;
    position:relative;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.badge{
    position:absolute;
    top:15px;
    left:15px;
    background:#6f4e37;
    color:#ffffff;
    padding:5px 10px;
    font-size:12px;
}

.card h3{
    margin:15px;
    font-family:'Playfair Display',serif;
}

.card p{
    margin:0 15px;
    color:#5a4632;
}

.price{
    display:block;
    margin:15px;
    color:#6f4e37;
}

/* MENU LENGKAP */
.menu-section{
    padding:120px 60px;
    background:#1c1c1c; /* hitam */
}

.menu-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.menu-box{
    background:#ffffff; /* putih */
    border-radius:18px;
    padding:25px;
    border:1px solid #6f4e37;
    transition:.3s;
}

.menu-box:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px #1a1a1a;
}

.menu-box h3{
    font-family:'Playfair Display',serif;
    font-size:26px;
    margin-bottom:15px;
    color:#2a1a10;
    border-bottom:1px solid #6f4e37;
    padding-bottom:10px;
}

.menu-box ul{
    list-style:none;
}

.menu-box ul li{
    display:flex;
    justify-content:space-between;
    padding:8px 0;
    border-bottom:1px dashed #6f4e37;
    font-size:15px;
}

.menu-box ul li span:last-child{
    color:#6f4e37;
    font-weight:500;
}

/* ORDER */
.order{
    background:#1c1c1c; /* hitam */
    color:#f5efe6;
    text-align:center;
    padding:80px 20px;
}

.order a{
    display:inline-block;
    margin-top:20px;
    background:#6f4e37;
    color:#ffffff;
    padding:15px 50px;
    text-decoration:none;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(111,78,55,0.5);

}

.btn-order:hover{
    background-color: #5a4632;
    transition-duration: 500ms;
    box-shadow: 0 0 25px rgba(111,78,55,0.9);
}

/* FOOTER */
footer{
    text-align:center;
    padding:30px;
    color:#aaa;
    background:#1c1c1c; /* hitam */
}

.logo img{
    width:50px;
    height:50px;
    object-fit:contain;
    filter: drop-shadow(0 0 8px #000000);
}

.hero-logo{
    width:120px;
    margin-bottom:20px;
    filter: drop-shadow(0 0 15px #6f4e37);
}

.maps {
    padding: 80px 10%;
    background: #ffffff; /* putih */
    text-align: center;
}

.maps h2 {
    color: #2a1a10;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 30px;
}

.maps iframe {
    width: 100%;
    max-width: 900px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(111,78,55,0.4);
}

/* RESPONSIF */
/* @media screen && {
    
} */